<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" href="#/offers">
            <md-icon> arrow_back </md-icon>
        </md-button>
        <h2><span>Ich hole was</span></h2>
        <span class="flex"></span>
        <div ng-include src="'templates/includes/toolbar-user.html'"></div>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <form name="offerForm" novalidate>
        <div layout layout-sm="column">
            <md-input-container style="width: 70%">
                <label>Restaurant</label>
                <md-select ng-model="newOffer.restaurant" required name="restaurant">
                    <md-option ng-repeat="restaurant in restaurants|orderBy:'name'" value="{{restaurant.id}}">
                        {{restaurant.name}}
                    </md-option>
                </md-select>
                <!--<div ng-messages="offerForm.restaurant.$error" ng-show="offerForm.restaurant.$dirty">-->
                    <!--<div ng-message="required">Restaurant ist erforderlich!</div>-->
                <!--</div>-->
            </md-input-container>

            <div>
                <md-button href="#/restaurants/add">Neues Restaurant hinzufügen</md-button>
            </div>
        </div>

        <md-input-container>
            <label>Bestellung möglich bis</label>
            <input type="datetime-local" value="12:00" ng-model="newOffer.tempTime">
        </md-input-container>
        <!--<md-button class="md-primary md-raised" ng-click="save(newOffer)">Speichern</md-button>-->
        <input type="submit" value="Speichern" class="md-button md-raised md-primary">
    </form>
</md-content>