<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" href="#/offers/create">
            <md-icon> arrow_back </md-icon>
        </md-button>
        <h2><span>Restaurant hinzufügen</span></h2>
        <span class="flex"></span>
        <div ng-include src="'templates/includes/toolbar-user.html'"></div>
    </div>
</md-toolbar>

<md-content class="md-padding" id="popup-container">

    <md-input-container>
        <label for="name">Name</label>
        <input type="text" ng-model="newRestaurant.name" id="name">
    </md-input-container>

    <form action="../api/upload/image" method="post" ng-upload="bildUploadCompleted(content)" enctype="multipart/form-data" name="imageUpload" layout>
        <md-input-container style="width: 50%;">
            <label>Bild (optional)</label>
            <input type="text" ng-model="newRestaurant.image">
        </md-input-container>
        <div>
            <input type="file" name="file">
            <md-button upload-submit>Hochladen</md-button>
        </div>
    </form>

    <form action="../api/upload/file" method="post" ng-upload="speisekartenUploadCompleted(content)" enctype="multipart/form-data" name="imageUpload" layout>

        <md-input-container style="width: 50%">
            <label>Speisekarte (Link zur Website, PDF oder hochladen)</label>
            <input type="text" ng-model="newRestaurant.speisekarten_url">
        </md-input-container>
        <div>
            <input type="file" name="file">
            <md-button upload-submit>Hochladen</md-button>
        </div>
    </form>

    <input type="submit" value="Speichern" class="md-button md-raised md-primary" ng-disabled="submitButtonDisabled()" ng-click="save(newRestaurant)">
</md-content>