<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
            <md-icon> menu </md-icon>
        </md-button>
        <h2><span>Mittagessen bestellen</span></h2>
        <span class="flex"></span>
        <div ng-include src="'templates/includes/toolbar-user.html'"></div>

    </div>
</md-toolbar>

<md-content class="md-padding">
    <div class='md-padding' layout="row" layout-wrap>
        <md-card style="width: 31.9%" ng-repeat="offer in offers">
            <img src="http://placehold.it/300x150" class="md-card-image" alt="restaurant image">
            <md-card-content>
                <h2>{{offer.restaurant.name}}</h2>
                <p>{{offer.user.name}} holt was.<br>Bestellen bis {{offer.order_until.format('HH:mm')}} Uhr</p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button href="{{offer.restaurant.speisekarte}}" target="_blank">Speisekarte</md-button>
                <md-button>Bestellen</md-button>
            </div>
        </md-card>
    </div>

    <p style="margin-top: 5em">
        <md-button class="md-primary md-raised" href="#/offers/create">Ich hole was</md-button>
    </p>
</md-content>

