<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" href="#/offers">
            <md-icon> arrow_back </md-icon>
        </md-button>
        <h2><span>{{offer.user.name}} holt bei {{offer.restaurant.name}}</span></h2>
        <span class="flex"></span>
        <div ng-include src="'templates/includes/toolbar-user.html'"></div>
    </div>
</md-toolbar>

<md-content class="md-padding">
    <p>Wer was will kann sich bis {{offer.order_until.format('HH:mm')}} Uhr eintragen.</p>

    <md-card>
        <md-data-table-toolbar ng-show="!selected.length">
            <h2 class="md-title">Wer will was?</h2>
        </md-data-table-toolbar>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="query.order">
                    <tr>
                        <th name="Wer"></th>
                        <th name="Was"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr md-auto-select ng-repeat="participation in offer.participations">
                        <td>{{participation.user.name}}</a></td>
                        <td>{{participation.order}}</td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>

    <div ng-show="!loggedIn">
        <p style="margin-top: 5em; text-align:center">Um auch etwas zu bestellen musst du dich einloggen.</p>
        <p style="text-align:center">
            <md-button class="md-raised md-primary" href="#/login">Login</md-button>
        </p>
    </div>

    <div ng-show="loggedIn" style="margin-top: 5em;">
        <h3>Auch etwas bestellen:</h3>
        <md-input-container md-no-float>
            <label>Was möchtest du bestellen?</label>
            <textarea ng-model="participation.order" columns="5"></textarea>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-click="saveParticipation(participation, offer)">Jetzt bestellen</md-button>
    </div>
</md-content>