<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu">
            <md-icon> menu </md-icon>
        </md-button>
        <h2><span>Mittagessen bestellen</span></h2>
        <span class="flex"></span>
        <div ng-include src="'templates/includes/toolbar-user.html'"></div>

    </div>
</md-toolbar>

<md-content class="md-padding">
    <md-card>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="query.order">
                    <tr>
                        <th name="Wo"></th>
                        <th name="Wer"></th>
                        <th name="Bestellen bis"></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr md-auto-select ng-repeat="offer in offers">
                        <td>{{offer.restaurant.name}}</td>
                        <td>{{offer.user.name}}</td>
                        <td>{{offer.order_until.format('HH:mm')}} Uhr</td>
                        <td>
                            <md-button class="md-icon-button" aria-label="Ich will was" href="#/offers/{{offer.id}}">
                                <md-icon> send </md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>

    <p style="margin-top: 5em">
        <md-button class="md-primary md-raised" href="#/offers/create">Ich hole was</md-button>
    </p>
</md-content>