<md-toolbar class="md-whiteframe-z2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Menu" href="#/offers">
            <md-icon> arrow_back </md-icon>
        </md-button>
        <h2><span>{{offer.user}} holt bei {{offer.restaurant.name}}</span></h2>
    </div>
</md-toolbar>

<md-content class="md-padding">
    Wer was will kann sich bis {{offer.order_until.format('HH:mm')}} Uhr eintragen.

    <md-card>
        <md-data-table-toolbar ng-show="!selected.length">
            <h2 class="md-title">Wer will was?</h2>
        </md-data-table-toolbar>
        <md-data-table-container>
            <table md-data-table>
                <thead md-order="query.order">
                <tr>
                    <th name="Wer"></th>
                    <th name="Was"></th>
                </tr>
                </thead>
                <tbody>
                <tr md-auto-select ng-repeat="participation in offer.participations">
                    <td>{{participation.user}}</a></td>
                    <td>{{participation.order}}</td>
                </tr>
                <!--<tr md-auto-select ng-repeat="item in items">-->
                <!--<td>{{item.name}}</td>-->
                <!--<td><span ng-repeat="cat in item.category">{{cat.name}}<span ng-if="!$last">, </span></span></td>-->
                <!--<td show-unit>{{item.price}}</td>-->
                <!--<td>-->
                <!--<md-button class="md-icon-button" ng-click="edit(item._id)" aria-label="Edit">-->
                <!--<md-icon> edit </md-icon>-->
                <!--</md-button>-->
                <!--<md-button class="md-icon-button" ng-click="delete(item._id, $event)" aria-label="Delete">-->
                <!--<md-icon> delete </md-icon>-->
                <!--</md-button>-->
                <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>
        </md-data-table-container>
    </md-card>
</md-content>